<div>
  <!-- <a nz-dropdown [nzDropdownMenu]="menu">
    Hover me
    <i nz-icon nzType="down"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item>1st menu item</li>
      <li nz-menu-item>2nd menu item</li>
      <li nz-menu-item>3rd menu item</li>
    </ul>
  </nz-dropdown-menu> -->
  <!-- <nz-dropdown-menu #menu4="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>menu4 1st menu item</li>
      <li nz-menu-item>menu4 2nd menu item</li>
      <li nz-menu-item>menu4 3rd menu item</li>
    </ul>
  </nz-dropdown-menu> -->
  <button nz-button nzType="danger">Danger</button>
</div>
